<h3>Buscar por región: <small>{{ regionActiva | titlecase }}</small> </h3>
<h5>Selecciones la región</h5>

<div class="row">
  <div class="col">
    <!-- [class.btn-primary]="region === regionActiva" -->
    <!-- [ngClass]="{
                'btn-primary': regionActiva === region,
                'btn-outline-primary': regionActiva !== region
            }"-->
    <button *ngFor="let item of regiones"
            [class]="aplicarClaseCondicional(item)"
            (click)="consultarRegion(item)">

            {{ item |titlecase }}
    </button>
  </div>

  <app-table-info *ngIf="paises.length > 0" [listapaises]="paises"></app-table-info>
</div>
